{:paths ["src" "resources"]
 :deps {org.clojure/clojure                   {:mvn/version "1.12.0"}
        http-kit/http-kit                     {:mvn/version "2.8.0"}
        cheshire/cheshire                     {:mvn/version "5.10.2"}
        org.apache.commons/commons-compress   {:mvn/version "1.27.1"}
        context/system                        {:local/root "./libs/system"}
        context/pg                            {:local/root "./libs/pg"}
        context/http                          {:local/root "./libs/http"}
        context/gcs                           {:local/root "./libs/gcs"}
        fhir-schema/fhir-schema               {:local/root "./libs/fhir-schema"}
        pjson/pjson                           {:mvn/version "1.0.0"}}

 :aliases
 {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.9" :git/sha "e405aac"}}
          :ns-default build}}
  :dev
  {:extra-paths ["dev" "test" "resources"]
   :jvm-opts ["-Djdk.attach.allowAttachSelf"]}

  :test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.77.1236"}}
   :extra-paths ["test"]
   ;;:jvm-opts   ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts  ["-m" "kaocha.runner"]}

  :run {:extra-paths ["dev"]
        :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
        :main-opts   ["-m" "zd.hsm"]}}